<p-card header="PrimeNG Test">
  <p-button label="Click Me"></p-button>

  <p-progressBar [value]="60"></p-progressBar>

  <p-table [value]="halts">
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Vehicle</th>
        <th>Location</th>
        <th>Days</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-halt>
      <tr>
        <td>{{ halt.date }}</td>
        <td>{{ halt.vehicle }}</td>
        <td>{{ halt.location }}</td>
        <td>{{ halt.days }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
